@{
	ViewBag.Title = "Открытие филиалов";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 650px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Предложение по открытию филиала</h1>
			Академия Робототехники обладает успешным опытом создания секций робототехники: от
			юридического сопровождения процесса до технологического оснащения классов и новейших
			практик работы с детьми. Становясь нашим партнером, Вы можете открыть филиал Академии
			робототехники, используя наш опыт в организации образовательного процесса и построении
			прибыльного бизнеса. Филиал Академии робототехники может быть создан как в Вашем
			образовательном учреждении, так и как отдельная секция по обучению детей робототехнике,
			программированию и новым информационным технологиям.
		</div>
		@Html.Partial("PartnersMenu")
		<div class="clear">
		</div>
		<br />
		При открытии филиала, мы гарантируем комплексную всестороннюю помощь на всех этапах
		организации. В рамках партнерской программы Академия Робототехники оказывает поддержку
		по следующим направлениям:
		<h3>
			Юридические вопросы:</h3>
		<ul>
			<li>Выбор помещения для проведения занятий (согласно законодательству),</li>
			<li>Содействие в открытии организации (ИП, АНО, ООО), подходящей под специфику Вашего
				филиала, </li>
			<li>Оптимизация финансовых потоков и налогообложения;</li>
		</ul>
		<h3>
			Административные вопросы:</h3>
		<ul>
			<li>Закупка необходимого оборудования,</li>
			<li>Организация набора групп;</li>
		</ul>
		<h3>
			Методологическая поддержка:</h3>
		<ul>
			<li>Содействие в поиске педагога для вашего филиала и его последующее обучение всем
				курсам Академии,</li>
			<li>Предоставление доступа ко всем новым образовательным программам и материалам курсов
				Академии, </li>
			<li>Системная поддержка развития филиала, включающая проведение соревнований, повышение
				квалификации педагогов, участие в форумах и фестивалях конференции, встречи с руководителями
				промышленных предприятий и бизнесменами.</li>
		</ul>
		<b>Стоимость открытия филиала Академии Робототехники:</b> 80000 руб. (данные средства
		идут на оплату наших услуг).<br />
		<b>Необходимый начальный капитал:</b> от 200000-300000 руб. (для покупки конструкторов
		LEGO и ноутбуков).<br />
		<b>Ежемесячный взнос филиала:</b> 10000 руб. (начинает оплачиваться через 3 месяца
		после открытия).<br />
		<b>Количество персонала на предприятии:</b> для начала необходим 1 педагог.
		<br />
		<br />
		<b>Планируемый срок окупаемости:</b> от 3 месяца до года (в зависимости от числа
		обучаемых детей и имеющейся элементной базы).
		<br />
		<br />
		<img style="display:block; float:left;margin-top:-5px; height:30px; margin-right:10px;" src="@Url.Content("~/Content/images/pdf-icon.png")"/><a href="/pdf/filial.pdf">Загрузить описание предложения в формате PDF</a>
		<br />
	</div>
</div>
