@{
	ViewBag.Title = "Курсы";
}
<div id="box1">
	<div id="main-content">
		<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
			Курсы</h1>
		<div class="modal" id="swon">
			<h2 class="title">
				<a>Начальная школа</a></h2>
			<div id="modal1">
				<div class="content">
					<h3>
						Что изучается?</h3>
					<ul>
						<li>Рекомендованные образовательные программы LEGO, авторские курсы преподавателей прошедших
							подготовку в центрах робототехники в Москве по направлению проектирования, конструирования
							и программирования роботов из конструкторов <a href="http://mindstorms.lego.com/en-us/default.aspx?icmp=COUSFR30MINDSTORMS">
								Лего Майнстормс</a>;</li>
						<li>Начальные знания работы с компьютером.</li>
					</ul>
					<h3>
						Как проходят занятия?</h3>
					<ul>
						<li>Занятия проходят в группа по 10 человек 2 раза в неделю. Игровое занятие по сбору
							определенного конструктора.</li>
					</ul>
					<h3>
						Какой результат я получу?</h3>
					<ul>
						<li>Понимание и умение решать реальные задачи. Каждое занятие построено на принципе
							решение задачи, а не инструкции по сбору конструктора. К примеру, "мы сегодня соберем
							крокодила который будет двигать по нашей устной команде!!!";</li>
						<li>Начальные навыки и представление о работе компьютера;</li>
						<li>Развитие как творческих и так технических задатков интеллекта.</li>
					</ul>
					<p>
						<strong></strong>
					</p>
				</div>
			</div>
		</div>
		<div class="modal" id="swon1">
			<h2 class="title">
				<a>Средняя школа</a></h2>
			<div id="modal2">
				<div class="content">
					<h3>
						Что изучается?</h3>
					<ul>
						<li>Рекомендованные образовательные программы LEGO, авторские курсы преподавателей прошедших
							подготовку в центрах робототехники в Москве по направлению проектирования, конструирования
							и программирования роботов из конструкторов <a href="http://mindstorms.lego.com/en-us/default.aspx?icmp=COUSFR30MINDSTORMS">
								Лего Майнстормс</a>;</li>
						<li>Базовые знания работы с компьютером, основы визуального программирования, основы
							программирования в Basic и Pascal.</li>
					</ul>
					<h3>
						Как проходят занятия?</h3>
					<ul>
						<li>Занятия проходят в группа по 10 человек 2 раза в неделю. Переменные занятия по конструированию
							и программированию. Регулярные защиты проектов готовых роботов.</li>
					</ul>
					<h3>
						Какой результат я получу?</h3>
					<ul>
						<li>Развитие навыков технического мышления;</li>
						<li>Компьютер как инструмент создания и получения новых знаний и навыков;</li>
						<li>Навыки по представлению своего проекта и работе в паре (команде, соревновательной
							среде).</li>
					</ul>
					<p>
						<strong></strong>
					</p>
				</div>
			</div>
		</div>
		<div class="modal" id="swon2">
			<h2 class="title">
				<a>Старшие классы</a>
			</h2>
			<div id="modal3">
				<div class="content">
					<h3>
						Что изучается?</h3>
					<ul>
						<li>Программирование на языках;</li>
						<li>Различные наборы и комплекты конструкторов.</li>
					</ul>
					<h3>
						Как проходят занятия?</h3>
					<ul>
						<li>Занятия проходят в группа по 10 человек 2 раза в неделю. Переменные занятия по конструированию
							и программированию. Регулярные защиты проектов готовых роботов.</li>
					</ul>
					<h3>
						Какой результат я получу?</h3>
					<ul>
						<li>Изучение программирования на продвинутом уровне;</li>
						<li>Профессиональная ориентированность на технические специальности ;</li>
						<li>Направленность на создание прикладных проектов.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	if (location.hash) {
		$(location.hash + '>div').toggle(10);
	}
</script>
