@using academy.rise_tech.com.Code
@{
	ViewBag.Title = "События";
}
<div id="box1">
	<div id="main-content">
		@*<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
			Партнерам</h1>
		<p>
			Принимая во внимание важность возрождения культуры изобретательства в детской и
			молодежной среде, а также необходимость создания институтов образования, направленных
			на развитие творческого мышления у ребенка, мы открыты для сотрудничества в сфере
			робототехники и программирования с любыми организациями.</p>
		<p>
			Команда Академии робототехники может помочь Вашей организации открыть секцию робототехники
			и программирования. Мы хорошо умеем решать следующие задачи</p>
		<ul>
			<li>Создание образовательных программ и стандартов по робототехнике, программированию
				и другим техническим инженерным дисциплинам;</li>
			<li>Обучение школьников и студентов современным международным и авторским курсам по
				прикладной математике, программированию и робототехнике;</li>
			<li>Подготовка инженерно-технических кадров нацеленных на решение реальных, востребованных
				задач;</li>
			<li>Организация взаимодействия производственных предприятий с пермскими школьниками
				и студентами;</li>
			<li>Подготовка учеников к участию во всероссийских и международных соревнованиях;</li>
			<li>Участие в научно-практических конференциях по информационным технологиям;</li>
			<li>Поиск и реализация проектов по данной тематике (соединение задач промышленности,
				бизнеса и решений талантливых студентов и ученых);</li>
			<li>Выбор и закупка необходимого оборудования;</li>
			<li>Набор платных групп;</li>
			<li>Вывод данного направления в Перми на всероссийский уровень, за счет привлечения
				первоклассных специалистов, нестандартного творческого подхода к образовательному
				процессу, создания атмосферы способствующей интеллектуальным прорывам.</li>
		</ul>
		<p>
			Мы всегда рады обсудить с Вами вопросы сотрудничества, а также поделиться самой
			новой информацией о наших планах, курсах, успехах.
		</p>
		<p>
			Задайте вопрос нашим специалистам по тел. 8-965-552-16-29, электронной почте <a href="mvmerzlyakov@gmail.com">
				mvmerzlyakov@gmail.com</a></p>*@
	</div>
</div>
