@{
	ViewBag.Title = "Старшие классы";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 700px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Старшие классы</h1>
			<h3>
				Что изучается?</h3>
			<ul>
				<li>Основы электротехники, электроники;</li>
				<li>Создание веб порталов и приложений;</li>
				<li>Создание и разработка собственных робототехнических проектов;</li>
				<li>Подготовка и участие в соревнованиях.</li>
				<li>Программирование и разработка андроидных роботов.</li>
				<li>Изучение микроконтроллерных систем на основе технологий National Instruments.</li>
				<li>Работа с конструкторами LEGO Tetrix.</li>
			</ul>
		</div>
		@Html.Partial("CoursesMenu")
		<div class="clear">
		</div>
		<h3>
			Как проходят занятия?</h3>
		<ul>
			<li>Занятия проходят в группах по 8 человек 2 раза в неделю;</li>
			<li>Переменные занятия по электротехнике и программированию;</li>
			<li>Обсуждение и развитие собственных робототехнических систем.</li>
		</ul>
		<h3>
			Какой результат я получу?</h3>
		<ul>
			<li>Изучение электроники и программирования до уровня, позволяющего решать прикладные
				задачи робототехники;</li>
			<li>Создание, ведение и продвижение собственных проектов;</li>
			<li>Постепенно ученики становятся специалистами в области создания робототехнических
				систем.</li>
		</ul>
		<div class="footer-links">
			<a href="@Url.Action("Team", "About")">Команда Академии</a>
			<a href="@Url.Action("Events", "About")">События</a>
			<a href="@Url.Action("SMI", "About")">СМИ о нас</a>
		</div>
	</div>
</div>
