@{
	ViewBag.Title = "Средняя школа";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 700px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Средняя школа</h1>
			<h3>
				Что изучается?</h3>
			<ul>
				<li>Рекомендованные образовательные программы LEGO, авторские курсы преподавателей прошедших
					подготовку в центрах робототехники в Москве по направлению проектирования, конструирования
					и программирования роботов из конструкторов <a href="http://mindstorms.lego.com/en-us/default.aspx?icmp=COUSFR30MINDSTORMS">
						Лего Майнстормс</a>;</li>
				<li>Базовые знания по работе с компьютером;</li>
				<li>Современное программное обеспечение для создания роботов Lego Mindstorms:</li>
				<ul>
					<li>Lego Digital Designer;</li>
					<li>Kodu Game Lab;</li>
					<li>Lego NXT-G;</li>
					<li>RoboLab.</li>
				</ul>
				<li>Разработка своих проектов и их защита на внутренних конференциях;</li>
				<li>Осуществляется подготовка к соревнованиям школьной робототехники по мировым стандартам.
					Лучшие наши ученики принимают участие во всероссийских состязаниях по робототехнике.</li>
			</ul>
		</div>
		@Html.Partial("CoursesMenu")
		<div class="clear">
		</div>
		<h3>
			Как проходят занятия?</h3>
		<ul>
			<li>Занятия проходят в группах по 8 человек 2 раза в неделю;</li>
			<li>Переменные занятия по конструированию и программированию;</li>
			<li>Регулярные защиты проектов готовых роботов.</li>
		</ul>
		<h3>
			Какой результат я получу?</h3>
		<ul>
			<li>Понимание и умение решать реальные задачи. Каждое занятие построено на принципе
				решение задачи, а не инструкции по сбору конструктора. К примеру, "мы сегодня соберем
				крокодила, который будет двигать по нашей устной команде!!!";</li>
			<li>Базовые навыки и представление о работе компьютера;</li>
			<li>Развитие как творческих и технических задатков интеллекта.</li>
		</ul>
	</div>
</div>
