<div class="menu-team" style="width:175px; height:140px;">
	<ul>		
		<li data-href="Elementary"><a href="@Url.Action("Elementary", "Courses")">Начальная школа</a></li>
		<li data-href="Secondary"><a href="@Url.Action("Secondary", "Courses")">Средняя школа</a></li>
		<li data-href="High"><a href="@Url.Action("High", "Courses")">Старшие классы</a></li>
		<li data-href="Introduction"><a href="@Url.Action("Introduction", "Courses")">О робототехнике</a></li>
	</ul>
</div>
