<div class="menu-team" style="width: 190px; height: 90px;">
	<ul>
		<li data-href="Filial"><a href="@Url.Action("Filial", "Partners")">Открытие филиала</a></li>
		<li data-href="Training"><a href="@Url.Action("Training", "Partners")">Обучение педагогов</a></li>
	</ul>
</div>
