@{
	ViewBag.Title = "Об Академии";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 600px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Миссия</h1>
			<p>
				Академия робототехники была основана на базе российской инновационной компании <a
					target="_blank" href="http://rise-tech.com">Rise Technology</a>, предлагающей
				услуги в области разработки комплексных IT-решений.</p>
			<br />
			<p>
				Мы считаем, что для того чтобы процесс инновационного развития в России имел долгосрочную
				перспективу - необходимо уделять особенное внимание развитию творческих инициатив
				детей и молодежи. Прикладная робототехника для школьников и студентов в последние
				годы активно развивается по всей России, однако в Перми данное направление до недавнего
				времени практически отсутствовало. В начале 2011 года в Перми нашей командой была
				создана Академия Робототехники.
			</p>
		</div>
		@Html.Partial("AboutMenu")
		<div class="clear">
		</div>
		<br />
		<p>
			Основные задачи Академии Робототехники – аккумулировать интеллектуальный потенциал
			талантливых школьников и студентов, а также создать комфортную среду, раскрывающую
			потенциал участников и позволяющую им применять творческий подход к решению технических
			задач проектирования, программирования, робототехники. Также мы реализуем взаимодействие
			промышленных предприятий со школьниками и студентами.</p>
		<br />
		<p>
			Своей стратегической задачей мы видим подготовку инженерно-технических кадров, нацеленных
			на решение реальных и современных задач в области программирования и моделирования.
		</p>
		<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
			Опыт Академии</h1>
		<p>
			За 1,5 года работы</p>
		<ul>
			<li>В Академии Робототехники были обучены более 150 детей.</li>
			<li>Были разработаны авторские образовательные программы по робототехнике, а также были
				адаптированы международные учебники по робототехнике.</li>
			<li>Совместно с Министерством культуры, молодежной политики и массовых коммуникаций,
				Академией Робототехники был организован, и успешно проведен Первый региональный
				робототехнический фестиваль "Робофест". </li>
			<li>На IV Всероссийском робототехническом фестивале - "РобоФест-2012" команда Академии
				Робототехники заняла 2 место в категории FIRST LEGO League (FLL), обогнав крупные
				школы робототехники из Москвы, Челябинска, Екатеринбурга и других городов.</li>
			<li>Были организованы экскурсии детей на пермские промышленные предприятия, включая
				ОАО «Авиадвигатель», ОАО «Пермский Моторный Завод» и др.</li>
		</ul>
		<p>
			На данный момент Академия Робототехники работает без какой-либо государственной
			поддержки, поэтому всё обучение платное. За время работы Академии были получены
			десятки положительных отзывов от родителей и множество пожеланий о создании бесплатных
			групп. Поэтому мы ищем партнеров, которые помогут нам сделать часть образовательного
			процесса бесплатным для талантливых ребят.</p>
	</div>
</div>
