@{
	ViewBag.Title = "Отзывы";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 700px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Отзывы</h2>
				<img alt="" src="@Url.Content("~/Content/photos/review_s.png")" style="vertical-align:top; margin:9px; border:1px solid #aaa;" />
				<div style="width: 500px; display:inline-block; margin-left:20px">
					<h3 style="margin-top:0px; margin:0px;">
						Ольга Бреничева</h3>
					<p>
						В мае 2011 г. случайно прочитала в газете о презентации «Академии робототехники» и так как мой сын Никита с малолетства увлекался конструированием и сборкой различных предметов, то он , конечно,  же пришел и посмотрел как ребята собирали роботов. Сразу же загорелся и стал с нетерпением ждать сентября, чтобы ходить на занятия по робототехнике.  Выпросил у меня дорогостоящий конструктор и самостоятельно собирал разных роботов.</p>
					<p>
						Очень хорошо, что открыли такую школу, т.к. эти занятия, возможно,  предоставят детям дорогу в будущее, научат их самостоятельности, разовьют в них разнообразные способности: организованность, целеустремленность ,доводить начатое до конца,  уметь  работать в команде,  сообразительности, памяти, внимания, развитию логического  мышления, усидчивости и т.д. Например, мой сын научился программировать, хотя у них в школе в 4 классе не было даже информатики. Никита участвовал в соревнованиях, конференциях, написал и защищал работу: «Роль робототехники в развитии цивилизации».</p>
					<p>
						В апреле месяце наша команда из «Академии робототехники» ездила на фестиваль «Робофест -2012» в Москву. Дорогу, проживание в гостинице, питание – все оплатили организаторы.  Родители отпустили детей одних , но я поехала с сыном. Я очень была рада, что поехала и получила массу впечатлений от увиденного. Дети жили  в центре на Арбате, а соревнования проходили в пригороде, и на дорогу уходило много времени, ребята сильно уставали, но все равно были очень  довольны.  Столько впечатлений, эмоций, тем более, когда наша тройка вышла в финал, и заняла второе место, обойдя более опытные и сильные команды из Москвы и Челябинска!  Столько восторга!  Наш руководитель – Михаил каждый день занимался с ребятами и относился к ним, как к взрослым студентам, считая их самостоятельными, но можно быть к ним построже, конечно не так  жестко, как в спорте, иначе некоторые наши «тонкие» натуры уревутся, но все-таки будут соблюдать дисциплину и стремиться достичь победы. Наши организаторы и преподаватели молодцы! Взяли на себя столько ответственности  за детей! 
					</p>
					<p>Поздравляю  с победой и желаю новых побед в творчестве и обучении наших детей, чтобы они тоже достигли больших высот!</p>
					<p>Для детей это был наглядный пример, они внимательно смотрели, наблюдали, как готовятся к соревнованиям их конкуренты- сверстники, я думаю много в себя впитали!</p>
				</div>
				@*<img alt="" src="@Url.Content("~/Content/photos/review.jpg")" style="vertical-align:top; margin:9px; border:1px solid #aaa;" />
				<div style="width: 500px; display:inline-block; margin-left:20px">
					<h3 style="margin-top:0px; margin:0px;">
						Костарев Алексей</h3>
					<p>
						Спасибо за то что делаете, за этот кружок. Когда мой сын стал ходить к вам, то у
						него впервые появились интересы....</p>
					<p>
						Для него это большой стимул для учебы в школе и на курсах информатики в университете.</p>
					<p>
						Будь ребята чуть постарше, то можно было бы делать реальные проекты по робототехнике.
						Благо много где можно это применить.
					</p>
				</div>*@
		</div>
		@Html.Partial("AboutMenu")
		<div class="clear">
		</div>
	</div>
</div>
