@{
	ViewBag.Title = "СМИ о нас";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 700px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Телеканал Рифей</h1>
			<p>
				Спасибо телеканалу Рифей за прекрасный сюжет. Ребята получили большой опыт общения
				с журналистами и работы на камеру!</p>
			<br />
			<div style="width: 600px; margin: auto">
				<iframe width="600" height="400" src="http://www.youtube.com/embed/LLHGn6y-5GE" frameborder="0"
					allowfullscreen></iframe>
			</div>
		</div>
		@Html.Partial("AboutMenu")
		<div class="clear">
		</div>
		<br />
		<br />
		<hr />
		<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
			Первый региональный фестиваль робототехники</h1>
		<p>
			"<i>Победителями в большинстве номинаций оказалась команда Академии Робототехники.
			Она и будет представлять Пермский край на общероссийских соревнованиях. А там и
			до мирового уровня недалеко.</i>" - корреспонденты UTV.</p>
		<br />
		<div style="width: 600px; margin: auto">
			<iframe width="600" height="400" src="http://www.youtube.com/embed/9CdSj34DbvA" frameborder="0"
				allowfullscreen></iframe>
		</div>
		<br />
		<br />
		<hr />
		<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
			Открытие Академии Робототехники</h1>
		<p>
			Первые занятия Академии Робототехники прошли летом 2011 года во Дворце Детского
			Творчества Юных.</p>
		<br />
		<div style="width: 600px; margin: auto">
			<iframe width="600" height="400" src="http://www.youtube.com/embed/Dynvo0Np9xk" frameborder="0"
				allowfullscreen></iframe>
		</div>
	</div>
</div>
