@{
	ViewBag.Title = "Команда";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 600px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Команда</h1>
			<div class="com">
				Основатели школы – специалисты в области кибернетики, программирования и искусственного
				интеллекта. В Академии мы постарались создать все условия, чтобы ребята получили
				не только теорию, но и практику, работая вместе с профессионалами. <a href="http://gorodperm.ru/info/society/guest/postfactum/?id=168"
					target="_blank">Подробнее о принципах работы Академии Робототехники</a>.
			</div>
		</div>
		@Html.Partial("AboutMenu")
		<div class="clear">
		</div>
		<div class="com">
			<div class="infor">
				<h4>
					Михаил Мерзляков</h4>
				<p>
					Руководитель, педагог Академии Робототехники.</p>
				<p>
					Опыт создания систем автоматизации производства. Проектирование и реализация информационных
					программных комплексов. Руководит разработкой инновационных проектов машинного зрения
					в компании <a href="http://rise-tech.com" target="_blank">Rise Technology</a>.</p>
				<p>
					Выпускник факультета прикладной математики и механики пермского государственного
					технического университета по специальности компьютерная биомеханика. Аспирант кафедры
					теоретической механики.
				</p>
				<p>
					Более двух лет работает в сфере образования.
				</p>
			</div>
			<img alt="" src="@Url.Content("~/Content/images/team/mikhail_merzlyakov.jpg")" />
		</div>
		<div class="com">
			<div class="infor">
				<h4>
					Екатерина Христолюбова</h4>
				<p>
					Куратор образовательной деятельности, педагог Академии Робототехники.</p>
				<p>
					Сертифицированный педагог программы «Робототехника: инженерно-технические кадры
					инновационной России».</p>
				<p>
					Успешно реализовала ряд крупных информационных проектов в отрасли образования. Опыт
					создания сложных программных комплексов, включающих модули интелектуального анализа
					данных.
				</p>
				<p>
					Выпускник механико-математического факультета пермского государственного университета
					по специальности «Прикладная математика и информатика».
				</p>
				<p>
					Более двух лет работает в сфере образования.</p>
			</div>
			<img alt="" src="@Url.Content("~/Content/images/team/ekaterina_khristolubova.jpg")" />
		</div>
		<div class="com">
			<div class="infor">
				<h4>
					Сергей Христолюбов</h4>
				<p>
					Основатель Академии Робототехники.</p>
				<p>
					Более 10-ти лет в сфере информационных технологий. Работал программистом, ведущим
					разработчиком, руководителем проектов. Сегодня – основатель и генеральный директор
					успешной IT-компании <a href="http://rise-tech.com" target="_blank">Rise Technology</a>.</p>
				<p>
					Имеет два диплома с отличием по специальностям программирование и математические
					методы в экономике.</p>
				<p>
					Мастер спорта по русским и международным шашкам.</p>
				<p>
					Шесть лет работал в сфере образования.</p>
			</div>
			<img src="@Url.Content("~/Content/images/team/sergey_khristolubov.jpg")"/>
		</div>
	</div>
</div>
